<!DOCTYPE html>
<html>
  <head>
    <title><%= @graph.title %></title>
    <meta http-equiv="refresh" content="<%=params[:refresh] || 60 %>">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

<body class="">
<div>
  <center>
    <h1><%=@graph.title%></h1>
    <a href="/">home</a>
  </center>
</div>

<% App.timez.each do |t| %>
   <center>
    <div>
     <%=t%>
     </div>
     <img id='<%=@graph.id%>' src='<%= @graph.to_url(:time => t) %>' />
   </center>
<% end %>
</body>
</html>
