<!DOCTYPE html>
<html>
  <head>
    <title>Numbers</title>
    <meta http-equiv="refresh" content="<%=params[:refresh] || 60 %>">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

<% time = params[:time] || '60min' %>

<body class="">
<div>
  <center>
  <% App.timez.reverse.each do |t| %>
    <a href="/graphs/?time=<%= t %>">last <%= t %></a>
  <% end %>
  </center>
</div>

<% @graphs.each do |g| %>
  <div>
    <a href="/graphs/<%=g.id%>" id='<%=g.id%>'>
     <%=g.title%>
    </a>
    (<%=time%>)
  </div>
    <a href="/graphs/<%=g.id%>" id='<%=g.id%>'>
      <img id='<%=g.id%>_img' src='<%= g.to_url(:time => time) %>' />
    </a>
  <% end %>

</body>
</html>
